body{
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

footer{
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 2px;
}

.img-footer{
    height: 50px;
    border-radius: 40px;
}


header{
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    background-color: #212121;
}

span{
	color: #212121;
}

hr{
    height: 2px;
    background-color: #E53935;
}